<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>member_main</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.mis.css}">
</head>
<body>
로그인 이메일 : <p th:text="${session.login}"></p>

<div th:if="${session.login}" class="container">
    <div th:if="${session.login.toString().equals('admin')}">
        <a href="/member/">관리자모드</a>
    </div>
    <a href="/member/update">정보수정</a>
    <a href="/member/logout">로그아웃</a>
</div>
<div th:unless="${session.login}" class="container">
    <a href="/member/login">로그인</a>
</div>


</body>
</html>